.container {
  display: flex;
  max-width: 80vw;
  margin: auto;
  flex-wrap: wrap;
  padding-top: 5vh;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.profile-picture {
  flex: 1 1 20rem;
  padding-right: 8rem;
  text-align: right;
  max-width: 35rem;
  align-self: center;
}

.about-text {
  flex: 1 1 20rem;
  border-left: 1px solid #c5c5c5;
  padding-left: 8rem;
  align-self: center;

  p {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    padding-top: 5rem;
    align-items: center;
    flex-direction: column;
    max-width: 100vw;
  }

  .profile-picture {
    flex: 1 1 20rem;
    padding-right: 0;
    text-align: center;
    min-height: auto;
    margin-bottom: 2rem;
  }

  .about-text {
    flex: 1 1 20rem;
    border-left: none;
    padding-left: 0;
  }
}
