.container {
  width: 60%;
  margin: auto;
  min-height: 80vh;
  padding-top: 5rem;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 3rem;
  margin: 0rem 0rem 2.5rem 0rem;
}

.description {
  // font-style: italic;
  font-weight: normal;
  font-size: 2.2rem;
  color: #616160;
  margin: 0rem 0rem 2rem 0rem;
}

.hero {
  object-fit: cover;
  max-height: 35vh;
  width: 100%;
  margin-bottom: 3rem;
}

.summary-box {
  display: flex;

  .specs {
    padding-right: 2.8rem;
    padding-left: 8.7rem;
    border-right: 1px solid #000000;

    .date-box {
      display: flex;
      align-items: flex-start;
      align-self: flex-end;

      .date {
        text-align: right;
        white-space: nowrap;
        margin-right: 1.4rem;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
      }
    }

    .stack-box {
      display: flex;
      margin-top: 1.2rem;
      align-items: flex-start;
      align-self: flex-end;

      .stack {
        text-align: right;
        margin-right: 1.4rem;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;

        ul {
          list-style: none;
          white-space: nowrap;
        }
      }
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    margin-left: 2.8rem;

    .details-header {
      display: flex;
      align-self: flex-start;
    }

    .description {
      padding-left: 1.4rem;
      font-size: 1.8rem;
    }
  }
}

.details {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;

  .avatar {
    height: 5rem;
    margin-right: 0.5rem;
  }

  .detailsBox {
    display: flex;
    margin-left: 0.5rem;
    font-size: 1.4rem;

    a {
      text-decoration: none;
    }

    .author {
      color: black;
    }

    .articleDetails {
      display: flex;
      color: #616160;

      .publishedDate::after {
        content: " \b7\a0";
        margin: 0 0.5rem;
      }
    }
  }
}

.specs {
  display: flex;
  flex-direction: column;
}

blockquote {
  border-left: 3px solid #00cc8f;
  color: #1a1a1a;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.8em;
  margin: 1.1em -4em;
  padding: 1em 2em;
  position: relative;
  transition: 0.2s border ease-in-out;
  z-index: 0;
}
blockquote:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: #fff;
  width: 5px;
  margin-top: -1em;
}
blockquote:after {
  content: '"';
  position: absolute;
  top: 50%;
  left: -0.5em;
  color: #00cc8f;
  font-family: "Ionicons";
  font-style: normal;
  line-height: 1em;
  text-align: center;
  text-indent: -2px;
  width: 1em;
  margin-top: -0.5em;
  transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  text-align: justify;
}

pre {
  background: black;
  border-left: 3px solid #f36d33;
  border-radius: 0.7rem;
  page-break-inside: avoid;
  font-size: 15px;
  line-height: 1.6;
  margin: 3rem 0;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;

  code {
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    color: #666;
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
  }
}
