.titleContainer {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    margin-right: 1.5rem;
  }

  .networksContainer {
    display: flex;
  }

  .networksContainer {
    a {
      align-self: center;
    }

    img {
      max-height: 3rem;
      margin-right: 1rem;
      display: block;
    }
  }
}

.summaryBox {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 9rem;

  img {
    height: 2.75rem;
  }

  .specs {
    padding-right: 2.8rem;
    padding-left: 5rem;
    border-right: 1px solid #000000;
    justify-content: space-around;

    .dateBox {
      display: flex;
      align-items: flex-start;
      align-self: flex-end;

      .date {
        text-align: right;
        white-space: nowrap;
        margin-right: 1.4rem;
        margin-bottom: 1.2rem;
        font-size: 1.2rem;
      }
    }

    .stackBox {
      display: flex;
      align-items: flex-start;
      align-self: flex-end;

      .stack {
        text-align: right;
        margin-right: 1.4rem;
        font-size: 1.2rem;

        ul {
          list-style: none;
          white-space: nowrap;
        }
      }
    }
  }

  .heading {
    font-size: 2.5rem;
  }

  .summaryContainer {
    display: flex;
    align-self: flex-start;
    padding-left: 2.8rem;
    padding-right: 5rem;
    justify-content: space-around;

    img {
      height: 2.75rem;
    }

    .summary {
      text-align: left;
      margin-left: 1.4rem;

      p {
        font-size: 1.5rem;
        line-height: 2.25rem;
        color: #525252;
      }
    }
  }
}

.details {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;

  .avatar {
    height: 5rem;
    margin-right: 0.5rem;
  }

  .detailsBox {
    display: flex;
    margin-left: 0.5rem;
    font-size: 1.4rem;

    a {
      text-decoration: none;
    }

    .author {
      color: black;
    }

    .articleDetails {
      display: flex;
      color: #616160;

      .publishedDate::after {
        content: ' \b7\a0';
        margin: 0 0.5rem;
      }
    }
  }
}

.specs {
  display: flex;
  flex-direction: column;
}

blockquote {
  border-left: 3px solid #00cc8f;
  color: #1a1a1a;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.8em;
  margin: 1.1em -4em;
  padding: 1em 2em;
  position: relative;
  transition: 0.2s border ease-in-out;
  z-index: 0;
}
blockquote:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: #fff;
  width: 5px;
  margin-top: -1em;
}
blockquote:after {
  content: '"';
  position: absolute;
  top: 50%;
  left: -0.5em;
  color: #00cc8f;
  font-family: 'Ionicons';
  font-style: normal;
  line-height: 1em;
  text-align: center;
  text-indent: -2px;
  width: 1em;
  margin-top: -0.5em;
  transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
}

pre {
  background: black;
  border-left: 3px solid #f36d33;
  border-radius: 0.7rem;
  page-break-inside: avoid;
  font-size: 15px;
  line-height: 1.6;
  margin: 3rem 0;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;

  code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: #666;
  }
}

@media screen and (max-width: 1350px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .container {
    width: 100%;
  }

  .projectHeader {
    img {
      margin-bottom: 2rem;
      display: block;
    }

    .titleContainer {
      margin-bottom: 0.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      .title {
        margin-right: 0;
      }

      .networksContainer {
        display: flex;
      }

      .networksContainer {
        a {
          align-self: center;
        }

        img {
          max-height: 2rem;
          margin-right: 0.5rem;
          margin-left: 0.5rem;
          display: block;
        }
      }
    }
  }

  .summaryBox {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 1.2rem;

    .specs,
    .summaryContainer {
      padding: 0;
      border-right: none;
      align-self: flex-start;

      img {
        display: none;
      }

      .dateBox,
      .stackBox {
        display: flex;
        margin: 0.5rem 0;
        align-self: flex-start;

        .date {
          text-align: unset;
          margin: 0;
        }

        .stack {
          text-align: unset;
          margin: 0;
        }

        h2 {
          margin-right: 2rem;
        }

        ul {
          list-style: none;
        }
      }

      .summary {
        margin: 0.5rem 0;
        p {
          font-size: 1.2rem;
          padding: 0;
        }
      }
    }
  }

  .body {
    p {
      font-size: 1.7rem;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
