.container {
  display: flex;
  max-width: 70vw;
  margin-left: 10vw;
  padding-top: 30vh;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

form {
  min-width: 40vw;
  margin-left: 5rem;

  .name-form,
  .email-form,
  .message-form {
    text-align: right;
    margin-bottom: 1rem;
  }

  label {
    font-size: 2rem;
    line-height: 3rem;
    margin: 0rem 1rem;
  }

  input {
    line-height: 3rem;
    min-width: 30vw;
    padding: 0 1rem;
    font-size: 1.5rem;
  }

  button {
    background-color: black;
    color: white;
    font-size: 2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width: 850px) {
  .container {
    flex-wrap: wrap;
  }
}
