* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 10vh;
}

h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #525252;
}

.landing {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 100vh;
}

.introduction {
  min-height: 75vh;
  position: absolute;
  top: 25%;
  left: 0%;
  // transform: translate(-50%, 0%, -50%, 0);
}

.goToPosts {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posts {
  padding-top: 20rem;
}

@media screen and (max-width: 850px) {
  .posts {
    padding-top: 12rem;
  }
}
