* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 10vh;

  // p {
  //   font-size: 2.1rem;
  //   font-weight: lighter;
  //   line-height: 3.3rem;
  //   margin-top: 1rem;
  // }
}

h6 {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #525252;
}

.landing {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 100vh;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.introduction {
  min-height: 75vh;
  position: absolute;
  top: 25%;
  left: 0%;

  p {
    font-size: 2.5rem;
  }
}

.goToPosts {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.posts {
  padding-top: 20rem;
}

@keyframes blink {
  from,
  to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

.blinkingCursor {
  animation: blink 1s step-end infinite;
  font-size: 2.5rem;
  margin-left: 0.2rem;
}

@media screen and (max-width: 1800px) {
  .posts {
    padding-top: 15rem;
  }
}

// Landing introduction for mobile
@media screen and (max-width: 450px) {
  .introduction {
    top: 13%;

    p {
      font-size: 2.2rem;
    }
  }
}

@media screen and (max-width: 400px) {
  .introduction {
    top: 10%;

    p {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 350px) {
  .introduction {
    top: 10%;

    p {
      font-size: 1.7rem;
    }
  }
}
