.container {
  width: 60%;
  margin: auto;
  min-height: 80vh;
  padding-top: 5rem;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.description {
  font-weight: lighter;
  font-size: 2.2rem;
  line-height: 3.3rem;
  color: #616160;
  margin: 0rem 0rem 2rem 0rem;
}

blockquote {
  border-left: 3px solid #00cc8f;
  color: #1a1a1a;
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1.25em;
  font-style: italic;
  line-height: 1.8em;
  margin: 1.1em -4em;
  padding: 1em 2em;
  position: relative;
  transition: 0.2s border ease-in-out;
  z-index: 0;
}
blockquote:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -4px;
  height: 2em;
  background-color: #fff;
  width: 5px;
  margin-top: -1em;
}
blockquote:after {
  content: '"';
  position: absolute;
  top: 50%;
  left: -0.5em;
  color: #00cc8f;
  font-family: 'Ionicons';
  font-style: normal;
  line-height: 1em;
  text-align: center;
  text-indent: -2px;
  width: 1em;
  margin-top: -0.5em;
  transition: 0.2s all ease-in-out, 0.4s transform ease-in-out;
}

pre {
  background: black;
  border-left: 3px solid #f36d33;
  border-radius: 0.7rem;
  page-break-inside: avoid;
  font-size: 15px;
  line-height: 1.6;
  margin: 3rem 0;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;

  code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    color: #666;
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
  }

  .title {
    font-size: 2.2rem;
  }

  .description {
    font-size: 2rem;
  }

  .body {
    p {
      font-size: 1.7rem;
    }
  }
}
