.container {
  width: 60%;
  margin: 0 auto 0 auto;
  min-height: 80vh;
  padding-top: 5rem;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 75%;
  }
}
@media screen and (max-width: 1350px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
  }
}
