.container {
  width: 60%;
  margin: 0 auto 0 auto;
  min-height: 80vh;
  padding-top: 5rem;
  animation: fadein 1s;

  ul {
    li {
      font-size: 2rem;
      font-weight: lighter;
      line-height: 3rem;
      margin-top: 1rem;
      margin-left: 4rem;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 1500px) {
  .container {
    width: 75%;
  }
}
@media screen and (max-width: 1350px) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .container {
    width: 100%;
  }
}
