.details {
  padding-top: 2.5rem;

  ul {
    display: flex;
    position: absolute;
    list-style: none;
    bottom: 0;

    li {
      font-size: 1.15rem;
      font-weight: 600;
      color: #8f8f8f;
    }

    .post-type::after {
      margin: 0.5rem;
      content: ' \b7\a0';
    }

    .published-date::after {
      margin: 0.5rem;
      content: ' \b7\a0';
    }
  }
}

@media screen and (max-width: 750px) {
  .details {
    display: none;
  }
}
