@mixin computer {
  @media (min-width: 848px) {
    @content;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  margin: 0 0 5rem 0;
  flex-wrap: wrap;
  border-bottom: 2px solid #c5c5c5;
  position: fixed;
  z-index: 1;
  width: 80%;
  background-color: white;
}

.logo {
  flex: 1 1 10rem;

  h1 {
    font-size: 24px;
    color: black;
  }

  a {
    text-decoration: none;
  }
}

.navbar-links {
  flex: 1 1 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;

  a {
    text-decoration: none;
    font-size: 24px;
    color: black;
  }

  a:hover {
    color: #6a6a6a;
  }
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 5px;
  margin: 5px;
  background-color: black;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .navbar-links {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0vh;
    right: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
    z-index: 2;
  }

  .navbar-links li {
    // opacity: 0;
  }

  .burger {
    display: block;
    cursor: pointer;
    z-index: 2;
  }
}

.nav-active {
  transform: translateX(100%);
}
