@mixin computer {
  @media (min-width: 848px) {
    @content;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  margin: 0 0 5rem 0;
  flex-wrap: wrap;
  border-bottom: 2px solid #c5c5c5;
  position: fixed;
  z-index: 1;
  width: 80%;
  background-color: white;
}

.logo {
  flex: 1 1 20rem;

  h1 {
    font-size: 24px;
    color: black;
  }

  a {
    text-decoration: none;
  }
}

.navbar-links {
  flex: 1 1 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;

  a {
    text-decoration: none;
    font-size: 24px;
    color: black;
  }

  a:hover {
    color: #6a6a6a;
  }
}

#hamburger {
  margin: 1rem;
  justify-self: end; //We want the hamburger to appear on the right end, where users will be expecting it.
  display: block;
  background: white;
  border: none;
  font-size: 1, 2rem;
  line-height: 1;
  #expanded {
    display: none;
  }
  svg {
    width: 40px;
    height: 40px;
  }

  span {
    font-variant: small-caps;
    display: block;
    // position: relative;
    top: 15px;
  }

  @include computer {
    display: none;
  }

  &[aria-expanded="true"] {
    color: black;

    svg {
      background-color: red;
      fill: black;
    }

    span {
      position: static;
    }

    #expanded {
      display: block;
    }
  }
}

.js-enabled .navbar-links {
  display: none;
  @include computer {
    display: flex;
  }
}

#hamburger[aria-expanded="true"] + .navbar-links {
  display: block;
}
