.summaryBox {
  display: flex;
  margin-top: 5rem;
  margin-bottom: 9rem;

  img {
    height: 2.75rem;
  }

  .specs {
    padding-right: 2.8rem;
    padding-left: 5rem;
    border-right: 1px solid #000000;
    flex: 1;

    .dateBox {
      text-align: right;
      margin-right: 1.4rem;
      margin-bottom: 1.2rem;
      font-size: 1.2rem;

      .heading {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        span {
          margin-right: 1.4rem;
        }
      }

      .postDate {
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 1.8rem;
        color: #525252;
      }
    }

    .stackBox {
      text-align: right;
      margin-right: 1.4rem;
      font-size: 1.2rem;

      .heading {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-top: 1rem;
        span {
          margin-right: 1.4rem;
        }
      }

      ul {
        list-style: none;
        white-space: nowrap;
        // margin-top: 1rem;

        li {
          font-size: 1.3rem;
          line-height: 1.8rem;
          color: #525252;
          margin-top: 0rem;
          margin-left: 0rem;
        }
      }
    }
    .heading {
      font-size: 2rem;
    }
  }

  .summaryContainer {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding-left: 2.8rem;
    padding-right: 5rem;
    justify-content: space-around;
    flex: 2;

    .heading {
      align-items: center;
      display: flex;
      font-size: 2rem;
    }

    img {
      height: 2.75rem;
      margin-right: 1.4rem;
    }

    p {
      font-size: 1.5rem;
      line-height: 2.25rem;
      color: #525252;
    }
  }
}

.specs {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .summaryBox {
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0.1rem;
    font-size: 1.2rem;

    .heading {
      font-size: 1.7rem;
    }

    .specs,
    .summaryContainer {
      padding: 0;
      border-right: none;
      align-self: flex-start;

      img {
        display: none;
      }

      .dateBox,
      .stackBox {
        display: flex;
        margin: 0.5rem 0;
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        text-align: left;

        .heading {
          justify-content: flex-start;
        }

        h2 {
          margin-right: 2rem;
        }

        ul {
          list-style: none;
        }
      }

      .summary {
        margin: 0.5rem 0;
        p {
          font-size: 1.2rem;
          padding: 0;
        }
      }
    }
    .summaryContainer {
      margin-top: 1rem;
      p {
        font-size: 1.6rem;
      }
    }
  }
}
