footer {
  min-height: 10vh;
  align-items: center;
  margin-top: 5rem;
  display: flex;
  float: right;

  a {
    margin: 0 2rem;
    display: flex;
    text-decoration: none;
    color: black;
  }

  img {
    max-height: 2.3rem;
    margin-right: 0.5rem;
  }
}
