.footer {
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    margin: 0 1rem;
    display: flex;
    text-decoration: none;
    color: black;
  }

  img {
    max-height: 3rem;
  }
}
