.details {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;

  .avatar {
    height: 5rem;
    margin-right: 0.5rem;
  }

  .detailsBox {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    font-size: 1.4rem;

    a {
      text-decoration: none;
    }

    .author {
      color: black;
    }

    .articleDetails {
      display: flex;
      color: #616160;

      .publishedDate::after {
        content: ' \b7\a0';
        margin: 0 0.5rem;
      }
    }
  }
}
